
            <!-- Image Banner -->
            <div class="cbd-tinctures-bg sub-categ-banner cbd-pets">
                <div class="cbd-oil-banner">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-content">
                        <div>
                            <h2 class="text-light">BUY CBD FOR PETS</h2>
                            <p class="text-light">
                                Discover our complete line of CBD for pets from cbdMD. High quality hemp derived ingredients are veterinarian formulated for the pets in your life. Get CBD products for dogs and CBD products for cats made for their needs. Buy CBD pet products for sale below. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 content-image">
                        <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/banner-pets-right.png?t=1635392366&_gl=1*r4ncsr*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTM5MTU3MS4zMjAuMS4xNjM1MzkxODIwLjU4'}}" />
                    </div>
                </div>
            </div>

            <!-- Grid Dynamic Product-->
                        <div class="tinctures-grid mt-5 pt-3 homepage-featured">
                            {{#if category.products}}
                            
                            {{> aoc-custom/components/category/product-listing}}
                            {{else}}
                                <p>{{lang 'categories.no_products'}}</p>
                            {{/if}}
                            {{{region name="category_below_content"}}}
                        </div>
             <!-- Features -->
             <div class="p-5 mt-5 categ-features">
                <div class="features-row">
                    <div class="col1">
                        <img src="{{cdn '../img/categpage/chemistry.png'}}" class="d-block mx-auto">
                        <p>Third-Party<br> Lab Test</p>
                    </div>
                    
                    <div class="col2">
                        <img src="{{cdn '../img/categpage/usa-hemp.png'}}" class="d-block mx-auto">
                        <p class="mt-00">Usa Hemp</p>
                    </div>
                    
                    <div class="col3">
                        <img src="{{cdn '../img/categpage/superior-circle.png'}}" class="d-block mx-auto">
                        <p>Superior <br>Broad Spectrum</p>
                    </div>
                    
                    <div class="col4">
                        <img src="{{cdn '../img/categpage/thc.png'}}" class="d-block mx-auto">
                        <p class="mt-00">&nbsp; Non-Thc1</p>
                    </div>
                    
                    <div class="col5">
                        <img src="{{cdn '../img/categpage/GMP.png'}}" class="d-block mx-auto">
                        <p class="mt-00">&nbsp; Gmp Certified</p>
                    </div>
                </div>
             </div>

            <!--Properties CBD Skin Care  -->
            <div class="row properties-cbd row-reverse flex-row w-100 position-relative mx-0 row-sub-categ">
                <div class="col-md-6 col-sm-6 col-xs-2 px-0">
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/pets-left.png?t=1635392371&_gl=1*r4ncsr*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTM5MTU3MS4zMjAuMS4xNjM1MzkxODIwLjU4'}}">
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12 position-relative cbd-properties sub-categ">
                    <div class="abs-con w-70">                     
                        <div class="font-h4">
                            <h4 class="color-h4">CBD For Pets</h4>
                            <p class="size-p">Whether your furry family members include dogs or cats, our CBD for pets will let them enjoy the same CBD goodness that humans do. By combining all the properties of CBD oil with animal-approved flavors, we've found the perfect combo of natural support.
                                <br><br>
                                Show the animals in your life the love they deserve by giving them CBD as a tasty treat, an easy-to-use tincture, or as a chewable. With an entire suite of hemp-derived, THC-free* CBD products using our innovative process, we've developed the perfect way to deliver naturally sourced CBD for pets.
                                <br><br>
                                Our variety of chewables, treats, and tinctures will please even the fussiest eaters, making it easy and convenient for daily use. The latest line of topicals for pets delivers soothing support for animals both young and old. Trust us when we say our CBD is made for all walks of life!</p>
                            
                        </div>
                    </div>
                </div>
            </div>   
            
            <!-- Why Choose Us -->
            <div class="row properties-cbd row-reverse w-100 position-relative mx-0 row-sub-categ">
                <div class="col-md-6 col-sm-6 col-xs-2 px-0">
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/pets-right.png?t=1635392368&_gl=1*10a2pkk*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTM5MTU3MS4zMjAuMS4xNjM1MzkxODIwLjU4'}}">
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12 position-relative cbd-properties sub-categ">
                    <div class="abs-con w-70">                     
                        <h4 class="choose-h4 d-none">Why Choose Us?</h4>
                        <div class="font-h4">
                            <h4 class="color-h4">How to Give CBD to Pets</h4>
                            <p class="size-p">CBD intake varies between different species, sizes, and shapes. We advise starting with the lowest indicated measurement and closely monitoring your pet's progress. When starting a CBD regimen, it's generally suggested to maintain a steady routine for at least 30 days to achieve optimal wellness. If you don't see desired results after the initial , gradually increase the daily serving size</p>
                            <h4 class="color-h4">Properties of CBD for Pets</h4>
                            <p  class="size-p">Our selection of products use the same Superior Broad Spectrum CBD formula that's found in our high-quality human products, combined with the flavors and textures that your cat or dog will love. Our curated selection of products has a range of strengths and concentrations lets you tailor your CBD for pets program to the size and needs of your animal companion.</p>    
                        
                        </div>
                    </div>
                </div>
            </div>   

            <!-- Frequently Asked Question -->

            <h2 class="h4-faqs pt-2">Frequently Asked Questions</h2>            
            <button class="custom-accordion">
                <div>CAN CBD FOR PETS BE TAKEN WITH OTHER MEDICATIONS?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel">
              <p>Our selection of products use the same Superior Broad Spectrum CBD formula that's found in our high-quality human products, combined with the flavors and textures that your cat or dog will love. Our curated selection of products has a range of strengths and concentrations lets you tailor your CBD for pets program to the size and needs of your animal companion.</p>
            </div>
            <button class="custom-accordion">
                <div>CAN YOU GIVE CBD FOR HUMANS TO PETS?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel">
              <p>Our selection of CBD for dogs and CBD for cats have been veterinarian-formulated with pet-safe ingredients in every tincture, topical, and hard chew to support their wellness and provide optimum results. Although CBD offers the same benefits of high quality hemp extracts and terpenes to animals as it does to humans, it is always best to use only those products that have been made specifically for pets to ensure quality, safety, and effectiveness.</p>
            </div>
            <button class="custom-accordion b-none">
                <div>WHAT DOES CBD FOR PETS DO?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel">
              <p>The premium hemp extracts in CBD for pets offers the same benefits to animals as it does to humans. CBD works by interacting with the endocannabinoid system that’s present in both people and pets. Because of this similarity in physiology, both can be positively affected by CBD in similar ways. Pets in need of wellness support, extra calm, or a daily boost to their health may benefit from CBD's powerful properties that promote balance throughout the body. Check out our blog to help determine which CBD product is right for your pet.</p>
            </div>
            <button class="custom-accordion border-bottom  border-secondary mb-5 mb-10">
                <div>HOW DOES CBD HELP MY PET?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel border-bottom border-secondary mb-5 mb-10">
              <p>CBD for pets is designed to complement your cat or dog’s everyday wellness, support an overall sense of calm, and help manage signs of common daily stress or discomfort. There is a growing number of happy owners who give their pets CBD for daily wellness and stress support In some cases, owners have reported good results for common challenges such as separation issues and even noise aversion.</p>
            </div>
