        <!-- Image Banner -->
        <div class="cbd-tinctures-bg botanicals-bg">
            <div class="cbd-oil-banner">
                <div class="col-md-6 col-sm-6 col-xs-6 text-content">
                    <div>
                        <h2 class="text-dark">Cbd Botanicals</h2>
                        <p class="text-dark">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute<br> irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla<br> pariatur.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 content-image">
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/botanical-right-banner.png?t=1635898985&_gl=1*ibby60*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTkxNjA3NS4zMzcuMS4xNjM1OTIwNjQ2LjU4'}}" />
                </div>
            </div>
        </div>
            <!-- Grid Dynamic Product-->
            <div class="tinctures-grid mt-5 pt-3 homepage-featured categ">
                {{#if category.products}}
                
                {{> aoc-custom/components/category/product-listing}}
                {{else}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/if}}
                {{{region name="category_below_content"}}}
            </div>
            
         <!-- Features -->
         <div class="p-5 mt-5 categ-features">
            <div class="features-row">
                <div class="col1">
                    <img src="{{cdn '../img/categpage/chemistry.png'}}" class="d-block mx-auto">
                    <p>Third-Party<br> Lab Test</p>
                </div>
                
                <div class="col2">
                    <img src="{{cdn '../img/categpage/usa-hemp.png'}}" class="d-block mx-auto">
                    <p class="mt-00">Usa Hemp</p>
                </div>
                
                <div class="col3">
                    <img src="{{cdn '../img/categpage/superior-circle.png'}}" class="d-block mx-auto">
                    <p>Superior <br>Broad Spectrum</p>
                </div>
                
                <div class="col4">
                    <img src="{{cdn '../img/categpage/thc.png'}}" class="d-block mx-auto">
                    <p class="mt-00">&nbsp; Non-Thc1</p>
                </div>
                
                <div class="col5">
                    <img src="{{cdn '../img/categpage/GMP.png'}}" class="d-block mx-auto">
                    <p class="mt-00">&nbsp; Gmp Certified</p>
                </div>
            </div>
         </div>
         <!-- Cbd Skin Care Products -->
         <div class="cbd-skin-care-bg cbd-botanicals-bg">
            <div class="row cbd-skin-care w-100 pt-5 pb-5">
                <div class="col-md-6 col-sm-6 col-xs-2 development-main-image">

                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12 cbd-body-content">
                  <h4>Cbd Botanicals</h4>

                  <div>
                      <p class="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                  </div>
                </div>
            </div>            
        </div>
        <!--Properties CBD Skin Care  -->
        <div class="row properties-cbd row-reverse w-100 position-relative mx-0">
                <div class="col-md-6 col-sm-6 col-xs-2 px-0">
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/botanical-properties.png?t=1635477163&_gl=1*aid7y4*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTQ2Nzk4MS4zMjYuMS4xNjM1NDc2MDE4LjYw'}}">
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12 position-relative cbd-properties">
                    <div class="abs-con">                     
                        <h4>Properties of Cbd<br> Botanicals Products</h4>
                        <div>
                            <p class="top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Habitant morbi tristique senectus et netus et. Etiam dignissim diam quis enim lobortis scelerisque fermentum. Massa massa ultricies mi quis hendrerit dolor magna eget est. Nulla at volutpat diam ut. Eu sem integer vitae justo eget. Tellus cras adipiscing enim eu turpis egestas pretium. Aliquam ut porttitor leo a diam sollicitudin. Senectus et netus et malesuada fames ac. Tristique et egestas quis ipsum.</p>    
                        </div>
                    </div>
                </div>
        </div>   
        
        <!-- Why Choose Us -->
        
        <div class="row properties-cbd row-reverse flex-row w-100 position-relative mx-0">
            <div class="col-md-6 col-sm-6 col-xs-2 px-0">
                <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/botanical-why-chose.png?t=1635477166&_gl=1*aid7y4*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTQ2Nzk4MS4zMjYuMS4xNjM1NDc2MDE4LjYw'}}">
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12 position-relative cbd-properties">
                <div class="abs-con">                     
                    <h4>Why Choose Us?</h4>
                    <div class="font-h4">
                        <h4 class="color-h4">Lorem ipsum dolor sit amet</h4>
                        <p class="size-p">Sed id semper risus in hendrerit gravida rutrum quisque. Pellentesque adipiscing commodo elit at imperdiet dui. Amet tellus cras adipiscing enim eu turpis egestas pretium. Id porta nibh venenatis cras sed.</p>
                        <h4 class="color-h4">Ut enim ad minim veniam</h4>
                        <p  class="size-p">Sed id semper risus in hendrerit gravida rutrum quisque. Pellentesque adipiscing commodo elit at imperdiet dui. Amet tellus cras adipiscing enim eu turpis egestas pretium. Id porta nibh venenatis cras sed.</p>    
                        <h4 class="color-h4">Duis aute dolor in reprehenderit</h4>
                        <p  class="size-p">Sed id semper risus in hendrerit gravida rutrum quisque. Pellentesque adipiscing commodo elit at imperdiet dui. Amet tellus cras adipiscing enim eu turpis egestas pretium. Id porta nibh venenatis cras sed.</p>
                    </div>
                </div>
            </div>
        </div>   


        <!-- Frequently Asked Question -->

        <h2 class="h4-faqs">Frequently Asked Questions</h2>
        <button class="custom-accordion">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing?</div>
            <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
            <use xlink:href="#icon-plus"> </use>
            </svg></div>
        </button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <button class="custom-accordion">
            <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris?</div>
            <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
            <use xlink:href="#icon-plus"> </use>
            </svg></div>
        </button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <button class="custom-accordion">
            <div>Duis aute irure dolor in reprehenderit in voluptate?</div>
            <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
            <use xlink:href="#icon-plus"> </use>
            </svg></div>
        </button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="custom-accordion">
            <div>Excepteur sint occaecat cupidatat non proident, sunt in?</div>
            <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
            <use xlink:href="#icon-plus"> </use>
            </svg></div>
        </button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="custom-accordion border-bottom  border-secondary mb-5">
            <div>Sed do eiusmod tempor incididunt ut labore et dolore?</div>
            <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
            <use xlink:href="#icon-plus"> </use>
            </svg></div>
        </button>
        <div class="panel border-bottom border-secondary mb-5">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
