
            <!-- Image Banner -->
            <div class="cbd-tinctures-bg sub-categ-banner cbd-gummies">
                <div class="cbd-oil-banner">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-content">
                        <div>
                            <h2 class="text-light">Cbd Gummies</h2>
                            <p class="text-light">
                                Our CBD gummies for sale are infused with premium ingredients and crafted with THC free hemp extracts. You get the benefits of superior CBD experience, jam-packed with tasty goodness. Our CBD infused gummies feature a variety of flavors in each bottle.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 content-image">
                        <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/banner-gummies-right.png?t=1635392128&_gl=1*ticj0v*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTM5MTU3MS4zMjAuMS4xNjM1MzkxODIwLjU4'}}" />
                    </div>
                </div>
            </div>

            <!-- Grid Dynamic Product-->
            <div class="tinctures-grid mt-5 pt-3 homepage-featured categ addcart-show">
                {{#if category.products}}
                
                {{> aoc-custom/components/category/product-listing}}
                {{else}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/if}}
                {{{region name="category_below_content"}}}
            </div>
            
                        
             <!-- Features -->
             <div class="p-5 mt-5 categ-features">
                <div class="features-row">
                    <div class="col1">
                        <img src="{{cdn '../img/categpage/chemistry.png'}}" class="d-block mx-auto">
                        <p>Third-Party<br> Lab Test</p>
                    </div>
                    
                    <div class="col2">
                        <img src="{{cdn '../img/categpage/usa-hemp.png'}}" class="d-block mx-auto">
                        <p class="mt-00">Usa Hemp</p>
                    </div>
                    
                    <div class="col3">
                        <img src="{{cdn '../img/categpage/superior-circle.png'}}" class="d-block mx-auto">
                        <p>Superior <br>Broad Spectrum</p>
                    </div>
                    
                    <div class="col4">
                        <img src="{{cdn '../img/categpage/thc.png'}}" class="d-block mx-auto">
                        <p class="mt-00">&nbsp; Non-Thc1</p>
                    </div>
                    
                    <div class="col5">
                        <img src="{{cdn '../img/categpage/GMP.png'}}" class="d-block mx-auto">
                        <p class="mt-00">&nbsp; Gmp Certified</p>
                    </div>
                </div>
             </div>

            <!--Properties CBD Skin Care  -->
            <div class="row properties-cbd row-reverse flex-row w-100 position-relative mx-0 row-sub-categ">
                <div class="col-md-6 col-sm-6 col-xs-2 px-0">
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/gummies-left.png?t=1635392131&_gl=1*ticj0v*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTM5MTU3MS4zMjAuMS4xNjM1MzkxODIwLjU4'}}">
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12 position-relative cbd-properties sub-categ">
                    <div class="abs-con w-70">                     
                        <div class="font-h4">
                            <h4 class="color-h4">WHAT ARE CBD GUMMIES?</h4>
                            <p class="size-p">CBD gummies are edible CBD candy that can be used every day! The best part is that you can trust you’re getting the same premium ingredients as all our other CBD products. Consistent, true levels of select terpenes and cannabinoids (like CBG and CBN) help ensure that you’re getting the exact same product every time. As one of our most popular products, CBD gummies offer you all the benefits of CBD in a sweet solution. The perfect calming CBD candy to add to any wellness routine, these CBD edibles are easy to use. Try taking a gummy whenever you need a boost or whenever you’re in need of some relaxation. This fan favorite product results in some of the best CBD gummies available.</p>
                            <h4 class="color-h4">ABOUT CBD GUMMIES</h4>
                            <p  class="size-p">Our curated gummies provide all the benefits of CBD gummies with quality and consistency you can rely on.</p>    
                          
                        </div>
                    </div>
                </div>
            </div>   
            
            <!-- Why Choose Us -->
            <div class="row properties-cbd row-reverse w-100 position-relative mx-0 row-sub-categ">
                <div class="col-md-6 col-sm-6 col-xs-2 px-0">
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/gummies-right.png?t=1635392133&_gl=1*12449ps*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTM5MTU3MS4zMjAuMS4xNjM1MzkxODIwLjU4'}}">
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12 position-relative cbd-properties sub-categ">
                    <div class="abs-con w-70">                     
                        <h4 class="choose-h4 d-none">Why Choose Us?</h4>
                        <div class="font-h4">
                            <h4 class="color-h4">WHAT DO CBD GUMMIES DO?</h4>
                            <p class="size-p">All CBD gummies support the endocannabinoid system, which helps your body maintain its balance and sense of well-being. Some of the most popular uses of CBD gummies are maintaining a sense of calm, managing everyday stress, aiding exercise recovery, and supporting overall wellness. Beyond that, there are different kinds of CBD gummies with different purposes, depending on your needs and preference.</p>
                            <h4 class="color-h4">Why Choose Gummies?</h4>
                            <p  class="size-p">CBD gummies are a delicious and consistent way to add CBD benefits to your daily wellness routine! It’s a simple way to bring balance and support to your life.</p>    
                           
                        </div>
                    </div>
                </div>
            </div>   

            <!-- Frequently Asked Question -->

            <h2 class="h4-faqs pt-2">Frequently Asked Questions</h2>
            <button class="custom-accordion">
                <div>DO CBD GUMMIES GET YOU HIGH?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel">
              <p>CBD gummies cannot get you high if they only contain CBD. The only reason a CBD product could get you high is if it uses full-spectrum hemp extract, which contains THC.</p>
            </div>
            
            <button class="custom-accordion">
                <div>ARE CBD GUMMIES LEGAL?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel">
              <p>CBD gummies are legal, just like all hemp-derived CBD products. The 2018 Farm Bill made all CBD products federally legal when derived from hemp plants containing less than 0.3% THC by dry weight. Individual states can still decide whether to allow the sale of CBD products.</p>
            </div>
            <button class="custom-accordion">
                <div>HOW MANY CBD GUMMIES SHOULD I EAT?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel">
              <p>The number of CBD gummies you should eat depends on multiple things: your size, age, and activity level, the type of gummy you’re using, and what your desired results are. We recommend starting with one gummy every morning and evening for 30 days and monitoring how you feel. If you aren’t getting the desired results, add another one and repeat the process.</p>
            </div>
            <button class="custom-accordion b-none">
                <div>ARE HEMP GUMMIES GOOD FOR PAIN?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel">
              <p>Hemp gummies are not approved for the treatment of pain unless they contain added medicines specifically for that purpose, as some of our CBD topicals do. Many people find that their calming qualities help discomfort related to stress and muscle tension. CBD may also help maintain good sleep cycles, which is an important part of pain management.</p>
            </div>
            <button class="custom-accordion border-bottom  border-secondary mb-5 mb-10">
                <div>HOW TO TAKE CBD GUMMIES?</div>
                <div><svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-plus"> </use>
                </svg></div>
            </button>
            <div class="panel border-bottom border-secondary mb-5 mb-10">
              <p>Taking CBD gummies is easy and fun: just take one out and eat it! The main challenge is not binging on these tasty candies. Pace yourself so you get a regular amount of CBD every day. If you’re already taking oral CBD regularly in the form of a CBD oil tincture or CBD capsule, you can also pop a gummy or two as a bonus whenever you want some extra calm.</p>
            </div>

