<div class="homepage-featured">
    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
<!-- {{{region name="home_below_featured_products"}}} -->
<div>&nbsp</div>
<div>&nbsp</div>
        <div class="top-seller">
            <a href="#" class="best-seller-link">Shop Best Sellers</a>
        </div>
</div>
<div>&nbsp</div>

<div class="Shop-by-need">
    <div class="content-title">
        <h2>Shop By Need</h2>
    </div> 
</div>

<div class="shop-by-need-images">
    <div class="flex-four-img">
        <div>
            <img src="{{cdn '../img/homepage/relief-image.png' }} ">
            <div>
                <h2>Pain Relief</h2>
                <div>&nbsp;</div>
                <a href="/cbd-pain-relief/">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/stress-img.png' }} ">
            <div>
                <h2>Stress</h2>
                <div>&nbsp;</div>
                <a href="/cbd-stress-relief/">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/sleep-img.png' }} ">
            <div>
                <h2>Sleep</h2>
                <div>&nbsp;</div>
                <a href="/cbd-sleep-aids-dummy/">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/wellness-img.png' }} ">
            <div>
                <h2>Everyday Wellness</h2>
                <div>&nbsp;</div>
                <a href="/cbd-everyday-wellness-dummy/">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/homepage/mood-img.png' }} ">
            <div>
                <h2>Mood</h2>
                <div>&nbsp;</div>
                <a href="/cbd-mood-dummy/">Shop Products</a>
            </div>
        </div>
        <div>
            <img src="{{cdn 'https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/sore-muscle.png?t=1635924183&_gl=1*4h2aap*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNTkxNjA3NS4zMzcuMS4xNjM1OTI0MjE2LjU.' }} ">
            <div>
                <h2>Sore Muscles</h2>
                <div>&nbsp;</div>
                <a href="/cbd-sore-muscle-dummy/">Shop Products</a>
            </div>
        </div>
    </div>
</div>

<a href="/pp-brandpage/">
     <img src="https://cdn11.bigcommerce.com/s-2r0p327be1/product_images/uploaded_images/pdot-p-home-page-banner.png?t=1637211738&amp;_gl=1*meevec*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNzIxMTA4OS4zODkuMS4xNjM3MjExNzQwLjM2" class="img-fluid mb-3 w-100"> </a>
